body {
    font-family: 'Helvetica', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(26, 24, 36);
    color: white;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: x-large;
}

input {
    color: rgb(117, 125, 136);
    font-family: inherit;
    outline: none;
    padding: 4px 6px;
}

input:focus, button:hover {
    box-shadow: 0px 0px 3px 3px rgb(50, 143, 250);
}

.input-req {
    box-shadow: 0px 0px 3px 3px rgb(253, 76, 115);
}

.city-form {
    padding: 30px 40px;
    align-self: flex-end;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.submit-button {
    font-family: inherit;
    background-color: white;
    border: none;
    padding: 15px;
}

.content {
    width: 80%;
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 25px;
    align-items: end;
    align-self: center;
}

.week, .current, .city-form {
    background-color: rgb(62, 59, 73);
    border: 1px solid rgb(120, 117, 143);
    color: white;
}

.weekday {
    font-size: large;
    font-weight: bold;
}

.week {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 50px;
}

.current {
    max-width: 30%;
    min-width: fit-content;
    padding: 40px 60px;
}

.article-line {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

#current-weather {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
}

.mist, .thunderstorm, .drizzle, .rain, .snow, .clear, .clouds {
    text-align: center;
    padding: 8px;
}

.mist {
    background-color: rgb(176, 167, 187);
    color: black;
}

.thunderstorm {
    background-color: rgb(66, 24, 214);
}

.drizzle {
    background-color: rgb(131, 186, 250);
    color: black;
}

.rain {
    background-color: rgb(50, 143, 250);
}

.snow {
    background-color: rgb(230, 241, 252);
    color: black;
}

.clear {
    background-color: rgb(224, 210, 84);
    color: black;
}

.clouds {
    background-color: rgb(106, 125, 145);
}

.hidden {
    display: none;
}

.open-form {
    font-size: large;
    width: fit-content;
    align-self: flex-end;
}